/* Reset muy básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container flex que rellena toda la pantalla */
.login-split {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Mitad izquierda: imagen de fondo */
.login-left {
  flex: 1;
  background: url('../images/nuevo_fondo.jpg') center center no-repeat;
  background-size: cover;
}

/* Mitad derecha: fondo blanco + formulario centrado */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

/* Caja blanca del formulario */
.login-box {
  width: 350px;
  text-align: center;
}

/* Logo arriba */
.login-logo {
  max-width: 300px;     
  margin: 0 auto ;
  display: block;
}

/* Título debajo del logo */
.login-title {
  font-size: 1.6em;
  color: #908888;
  margin-bottom: 24px;
}

/* Estilos inputs */
.login-form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
}

/* Botón */
.login-form button {
  width: 40%;
  padding: 7px;
  background: #007BFF;
  color: #fff;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background .2s;
}
.login-form button:hover {
  background: #0056b3;
}

/* Enlace “olvidé contraseña” */
.login-forgot {
  display: inline-block;
  margin-top: 16px;
  font-size: 0.9em;
  color: #007BFF;
  text-decoration: none;
}
.login-forgot:hover {
  text-decoration: underline;
}
